@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

:root {
  --main-clr: #ff5749;
  --main-bg-clr: #ffa69e;
  --next-bg-clr: #ffeceb;
}

.container::-webkit-scrollbar {
  width: 0.5rem;
}

.container::-webkit-scrollbar-thumb {
  border-radius: 0 12px 12px 0;
  background: #f51400;
  box-shadow: inset 1px 0px 5px #520400;
}

.container::-webkit-scrollbar-track {
  border-radius: 0 12px 12px 0;
  box-shadow: inset 3px 3px 5px #ff695c;
}

body {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
  background-size: cover;
  text-align: center;
  min-width: 300px;
  opacity: 0.9;
  background: var(--main-bg-clr);
  background: radial-gradient(circle, #ff695c 40%, #ff7c70 80%, #ffa299 100%);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #ffa69e;
  height: 100%;
  user-select: none;
  letter-spacing: 1px;
}

img {
  position: fixed;
  bottom: 0;
  left: 0;
  filter: brightness(130%) drop-shadow(1px 1px 1px var(--main-bg-clr));
  z-index: 1;
}

table {
  table-layout: fixed;
  width: 95%;
  overflow: auto;
  padding: 5px;
  border-radius: 10px;
  background-color: var(--next-bg-clr);
  box-shadow: inset 2px 2px 2px #ffc5c2, inset -2px -2px 2px #ffc5c2;
  border: none;
  margin: auto;
}

td {
  padding: 10px;
  border-radius: 12px;
  opacity: 0.05;
  position: relative;
  transform: scale(1);
  transition-property: transform;
  transition-duration: 100ms;
  transition-delay: 5ms;
  z-index: 5;
}

td:active {
  transform: scale(1.5) translateY(1px);
  transition-property: transform;
  transition-duration: 300ms;
  transition-delay: 1ms;
  border: 1px solid var(--main-clr);
  z-index: 6;
}

th {
  background-color: #fff;
  box-shadow: 1px 1px 1px #ffc5c2, -1px -1px 1px #ffc5c2;
  padding: 10px;
  border-radius: 12px;
  font-weight: 600;
  position: relative;
}

th:hover {
  opacity: 0.5;
  filter: brightness(150%);
}

#nav {
  margin: auto;
  text-align: center;
  overflow: hidden;
  width: 100%;
  position: relative;
}

#myBtn {
  font-family: 'Nunito', sans-serif;
  background-color: white; 
  color: var(--main-clr); 
  font-size: 1.1em;
  border-radius: 4px;
  font-weight: 600;
  border: 3px solid var(--main-clr);
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  position: absolute;
  right: 22px;
  top: 10px;
}

#myBtn:hover {
  background-color: var(--main-clr);
  color: white;
}

.container {
  background-color: rgb(255, 255, 255);
  color: #520400;
  box-shadow: 3px 3px 3px #f51400, 10px 10px 10px #ff1f0a, -1px -1px 3px #ff1f0a;
  border-radius: 10px;
  padding: 0;
  position: fixed;
  width: 75vw;
  top: 10px;
  bottom: 10px;
  left: 235px;
  overflow: auto;
}

.hi_td {
  background-color: #ff695c;
  opacity: 1;
  filter: brightness(130%) drop-shadow(1px 1px 1px var(--main-bg-clr));
  font-weight: 700;
}

.hi_th {
  background-color: #ffc5c2;
}

@media only screen and (max-width: 900px) {
  .container {
    background-color: rgba(255, 255, 255, 0.1);
    width: 100%;
    color: #520400;
    box-shadow: none;
    border-radius: 10px;
    padding: 0;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: auto;
  }

  table {
    padding: 10px;
    border-radius: 12px;
    background-color: var(--next-bg-clr);
    box-shadow: inset 3px 3px 3px #ffc5c2, inset -3px -3px 3px #ffc5c2;
    margin: auto;
    overflow: auto;
    height: 50vh;
  }

  #SVG-Circus {
    float: left;
    position: static;
    left: 10px;
    top: 1px;
  }

  img {
    position: fixed;
    bottom: -130px;
    transform: scale(0.3) rotate(5deg);
    left: -95px;
    filter: brightness(130%) drop-shadow(1px 1px 1px var(--main-bg-clr));
    z-index: 1;
  }
  svg {
    width: 90%;
  }
  th {
    font-size: 0.8rem;
  }
  td {
    font-size: 0.7rem;
  }
}

@media only screen and (max-width: 500px) {

  #nav {
    position: sticky;
  }

  #SVG-Circus {
    width: 150px;
  }

  img {
    position: fixed;
    bottom: -135px;
    transform: scale(0.2) rotate(10deg);
    left: -100px;
    filter: brightness(130%) drop-shadow(1px 1px 1px var(--main-bg-clr));
    z-index: 1;
  }

  #myBtn {
    float: right;
    font-size: 1em;
    border-radius: 10px;
    font-weight: 400;
    padding: 5px 10px;
    position: fixed;
    right: 10px;
    top: 20px;
  }

  .modal-content {
    width: 100%;
    line-height: 25px;
  }

}

.znaczek {
  padding: 3px 6px;
  background-color: #fff;
  border-radius: 50%;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  z-index: 7;
  border-radius: 5px;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#answer {
  height: 20px;
  width: 40px;
  border-radius: 5px;
  border: solid 2px #ff695c;
  color: #520400; 
}

.checker {
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  height: 26px;
  border-radius: 3px;
  background-color: #fce7e6;
  border: solid 2px #520400;
  color: #520400; 
}

b.checker {
  padding: 3px;
}

/* Modal Content */
.modal-content {
  border-radius: 7px;
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 2px;
  width: 60%;
  line-height: 25px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  border-radius: 6px 6px 0 0;
  padding: 2px 2px;
  background-color: #ff695c;
  color: white;
}

.modal-body {padding: 50px 0;}

.modal-footer {
  border-radius: 0 0 6px 6px;
  padding: 2px 8px;
  background-color: #ff695c;
  color: white;
}